In [1]:
import pandas as pd

In [2]:
test = pd.read_csv("test_ratings.csv")

In [3]:
test.head()

,Unnamed: 0,team_id,midfield_rating,defence_rating,attack_rating,match_id,match_date
0,0,1911645,49,183,187,557302221,2016-04-30 12:00:00
1,1,1171241,44,131,198,557302218,2016-04-30 12:00:00
2,2,1043287,60,152,177,557302221,2016-04-30 12:00:00
3,3,551844,46,178,151,557302229,2016-04-30 12:00:00
4,4,1038206,48,168,166,557302229,2016-04-30 12:00:00

In [19]:
from datetime import datetime

date_object = datetime.strptime(test.match_date[0], '%Y-%m-%d %H:%M:%S').date()

In [20]:
date_object

datetime.date(2016, 4, 30)

In [10]:
day_month

'2016-04-30'